/******************** BASIC STUFF ********************/

* {
    margin: 0;
    padding: 0;
    font-family: var(--mainFont);
    scrollbar-width: thin;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth
}

body {
    background: var(--specialColor);
    width: 100vw;
}

::selection {
    color: var(--black);
    background: var(--specialColor);
}


/******************** VARIABLES ********************/

:root {
    --black: #000;
    --white: #fff;
    --specialColor: #00f;
    --mainFont: lexend, sans-serif;
    --transition: 200ms;
}

/******************** SCROLL BAR ********************/

:root{
    scrollbar-color: rgba(0, 0, 255, 0.8) rgba(0, 0, 0, 0.5);
    scrollbar-width: thin;
}

/******************** FONTS ********************/

@font-face {
    font-family: lexend;
    src: url(../fonts/Lexend-VariableFont_wght.ttf);
}

/******************** STYLES ********************/


h1 {
    color: var(--white);
    font-family: Lexend;
    font-size: 12vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    text-align: right;
    transition: var(--transition);
}

.h1-span {
    color: var(--white);
    font-size: 4vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: right;
    transition: var(--transition);
}

h2 {
    color: var(--white);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

h3 {
    color: var(--white);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}

.p-small {
    font-size: 16px;
}

p br { 
    display: block;
    margin: 10px;
    height: 10px;
}

nav li {
    list-style: none;
}

nav a {
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

nav a:hover {
    color: var(--black);
    background: var(--specialColor);
}

nav .blue-hover:hover {
    color: var(--specialColor);
    background: var(--black);
}


/* For recolor grayscale image */

.image-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: fit-content;
}

.image-frame-trim {
    width: calc(100% - 32px * 2);
}

.image-frame-blue {
    background: var(--specialColor);
    height: fit-content;
}

.image-frame img {
    mix-blend-mode: multiply;
}

/********* CONTAINER ********/

.container {
    width: 100vw;
}

.container .main-layer {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.main-about {
    background: var(--black) !important;
}

.container .background-layer {
    z-index: 5;
    position: absolute;
    width: auto;
}

.container-center {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-center > .sub-container {
    position: auto;
}

/********* DESKTOP/MOBILE ********/

.desktop {
    display: none;
}

.mobile {
    display: block;
    width: 100%;
}

/********* MAIN CONTAINER ********/

.main {
    height: 90vh;
    min-height: 650px;
    background: var(--specialColor);
    position: relative;
    padding: 50px 0;
}

.title {
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 75vh;
    margin-left: 32px;
    /* left: 15vw; */
    left: 0;
}

/*** NAVS ***/

.nav-full {
    z-index: 5;
    position: absolute;
    right: 64px;
    width: auto;
}

.navs {
    position: absolute;
    top: 100px;
    left: -32px;
    display: flex;
    justify-content: space-between;    
    flex-direction: column;
    width: calc(100% + 32px * 2);
    position: absolute;
    z-index: 15;
}

.nav-local ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
    transition: var(--transition);
}

.nav-out ul {
    display: inline;
    width: 100%;
    text-align: right;
}

.nav-graphics img {
    animation-name: rotation2;
    animation-timing-function: cubic-bezier(0, 0.2, 0.7, 1, 1, 0.7, 0.2, 0);
    animation-duration: 2500ms;
}

@keyframes rotation2 {
    from {transform: rotate(125deg);}
    to {transform: rotate(360deg);}
}

/********* INTRODUCTION CONTAINER ********/

.introduction {
    height: 950px;
    background: var(--black);
}

.introduction .sub-container {
    display: flex;
    justify-content: center;
}

.introduction .sub-container .main-layer {
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
}

.introduction .sub-container .main-layer > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
}

.introduction .sub-container .background-layer {
    height: 950px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction .free-space{
    width: 300px;
}

/********* LESS IS MORE PANEL ********/

.less-is-more {
    height: 300px;
    position: relative;
}

.less-is-more-content {
    position: fixed;
    top: 43vh;
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
    z-index: -10;
}

.less-is-more span {
    color: var(--white);
    font-family: var(--mainFont);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rotation {
    animation-name: rotation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2000ms;
    transform-origin: 10px 30px;
    position: relative;
}

@keyframes rotation {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

/********* TYPES CONTAINER ********/

.formats, .storage-types{
    background: var(--black);
}

.container-long {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    position: relative;
}

.container-long-content {
    padding: 150px 32px;
    display: flex;
    flex-direction: row;
    gap: 128px;
}

.container-long-content > article p{
    width: 360px;
}

.articles {
    display: flex;
    flex-direction: row;
    gap: 128px;
}

.articles article {
    width: 400px;
    height: 475px;
}

.articles article > * {
    width: 100%;
}

.articles article img {
    width: 400px;
}

.articles h3 {
    margin-top: 16px;
}

.formats, .storage-types{
    position: relative;
}

.long-graphics {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 0;
}

.long-graphics img {
    height: 150px;
}

.article-down {
    display: flex;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}

/********* STORAGE CONTAINER ********/

.storage {
    height: 950px;
    width: 100vw;
    background-color: var(--specialColor);
}

.storage .sub-container {
    display: flex;
    justify-content: center;
}

.storage .sub-container .main-layer {
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
}

.storage .sub-container .main-layer > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
}

.storage .sub-container .background-layer {
    height: 950px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storage-image {
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
}

.storage article p {
    max-width: 300px;
}

/********* COMPRESS CONTAINER ********/

.compress {
    background: var(--black);
    height: 1600px;
    gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compress .container-center {
    width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;
    padding: 0 100px;
}

.compress-main-text {
    max-width: 550px;
    position: relative;
}

.compress-main-text article {
    position: sticky;
    top: 100px;
}

.article-container {
    position: relative;
    width: 550px;
    height: 210px;
    display: flex;
}

.compress-side-texts {
    display: flex;
    flex-direction: column;
    gap: 128px;
    width: 550px;
}

.compress-side-texts article {
    padding: 20px;
    margin-top: 20px;
    height: fit-content;
    z-index: 10;
    position: absolute;
}

.compress-side-texts .article-background {
    position: absolute;
    top: 0;
    width: 100%;
}

.compress-side-texts .right-background {
    display: flex;
    flex-direction: row-reverse;
}

.compress-side-texts img {
    height: 250px;
}

/********* FOOTER ********/

.footer {
    height: 400px;
    width: calc(100% - 100px * 2);
    padding: 0 100px;
    background: var(--specialColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 16px;
}

.footer-content-container a {
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

/************ ABOUT ***********/

.about-container {
    width: 60%;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.color-bar-container {
    color: var(--white);
    display: flex;
    margin-top: 30px;
    /* border: 2px var(--specialColor) solid; */
}

.color-bar {
    height: 100px;
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-bar span {
    font-size: 28px;
}

/******************** MEDIA QUERIES ********************/

@media only screen and (min-width: 1000px) {

    /******************** STYLES ********************/

    h1 {
        font-size: 128px;
    }

    .h1-span {
        font-size: 40px;
        color: var(--black);
    }

    p {
        font-size: 20px;
    }
    
    .p-small {
        font-size: 17px;
    }

    .desktop {
        display: block;
    }
    
    .mobile {
        display: none;
    }

    /********* CONTAINER ********/
    
    .main {
        height: 82vh;
        background: var(--specialColor);
        position: relative;
        padding: 100px 0;
    }

    .container-center {
        display: flex;
        justify-content: center;
    }
    
    .sub-container {
        width: 1240px;
        height: 100%;
        position: relative;
    }

    .nav-local ul {
        margin-bottom: 258px;
    }

    /********* MAIN ********/

    .title {
        left: 32px;
    }

    .nav-full {
        right: calc(32px + 64px);
    }

    .storage .sub-container .main-layer {
        margin: 0 64px;
    }

    /********* INTRODUCTION ********/

    .introduction .sub-container .main-layer > div {
        flex-direction: row-reverse;
    }

    .introduction .sub-container .main-layer {
        margin: 0 64px;
    }

    /********* STORAGE ********/

    .storage .sub-container .main-layer > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 32px;
    }

    .storage article p {
        max-width: none;
    }

    .container-long-content {
        padding: 150px 100px;
    }

    /********* COMPRESS CONTAINER ********/

    .compress {
        height: 1600px;
        gap: 100px;
    }

    .compress .container-center {
        flex-direction: row;
    }

    .compress-main-text {
        max-width: 400px;
        height: 1150px;
    }

    .compress-main-text article {
        position: sticky;
        top: 100px;
    }

    .compress-side-texts {
        gap: 256px;
    }

    /********* FOOTER ********/

    .footer-content-container {
        flex-direction: row;
    }


}

/* for hiDPI */
@media only screen and (min-height: 1210px) {

    .nav-graphics img {
        height: 80vh !important;
    }

    .navs {
        height: 60vh;
    }
    
}
